/* Get_in_touch  ##################################################################################################################### */

  .cid-u64l9crwwN {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: transparent;
}
.cid-u64l9crwwN .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-u64l9crwwN form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-u64l9crwwN form .mbr-section-btn .btn {
  display: inline-flex;
}
@media (max-width: 991px) {
  .cid-u64l9crwwN form .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-u64l9crwwN .content-head {
  max-width: 800px;
}