
.gene-data-table {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    max-width: -moz-fit-content;
    max-width: fit-content;
    overflow-x: auto;
    display: block;
}

.gene-data-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: white;
}

.gene-data-table th, .gene-data-table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.gene-data-table tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.gene-data-table tr:hover {
    background-color: rgba(0, 0, 0, 0.075);
}