#moultdb-header {
    background-color: var(--main-dark-color);
    padding: 0;
}

#moultdb-header span.moultdb-name {
    line-height: 40px;
    margin-left: 10px;
}

#moultdb-header a.navbar-brand {
    padding: 0;
}

#moultdb-header .nav-link {
    color: white;
}
#moultdb-header .nav-link:hover, #moultdb-header .nav-link:focus {
    color: var(--main-light-color);
    text-decoration: underline;
}

#moultdb-header a.navbar-brand img {
    height: 30px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}
