.btn-custom {
    color: var(--main-dark-color);
    background-color: var(--main-light-color);
    border-color: var(--main-dark-color);
}

.btn-custom:hover {
    color: var(--main-light-color);
    background-color: var(--main-dark-color);
    border-color: var(--main-light-color);
}