.node-content {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.node-text {
    margin: 0 4px; /* Space between icon and text */
}

.node-counts {
    color: gray;
    font-size: 10px;
    margin-left: 10px;
    white-space: nowrap;
}

.node-link {
    font-size: 10px;
    margin-left: 5px;
    white-space: nowrap;
}