
#taxon-page ol,
#taxon-page ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#taxon-page ul.xref {
    margin-left: 1rem !important;
}

#taxon-page ul.xref li {
    display: inline-block;
    margin-right: 5px !important;
}

#taxon-page ul.xref > li {
    display: inline-block;
    margin-right: 5px;
}

#taxon-page ul.xrefs > li:not(:last-child) {
    margin-bottom: 5px;
}

#taxon-page ul.synonyms li {
    display: inline-block;
    margin-right: 5px;
}

#taxon-page ol.lineage li {
    display: inline-block;
    margin-right: 5px;
}

#taxon-page .lineage-separator::after {
    content: " > ";
}

#taxon-page .synonyms-separator::after {
    content: " ; ";
}

#taxon-page .dt-scroll-body {
    transform: rotateX(180deg);
    overflow-x: auto;
}

#taxon-page .dt-scroll-body table {
    transform:rotateX(180deg);
}